@model sistematutor.Models.curso

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_curso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_curso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_curso">Editar</a> |
    <a asp-action="Index">Back to List</a>
</div>
