@model IEnumerable<sistematutor.Models.curso>

@{
    ViewData["Title"] = "Cursos";
}

<h2>Cursos</h2>

<p>
    <a asp-action="Create">Agregar Nuevo Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre_curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nivel)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_curso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id_curso">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id_curso">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
